# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.pytest_cache/
__pycache__/
check_autopep8
bats-core/
shellcheck*
.vscode*
*.egg-info/
*.pkl
*.db
!example.db

# tools related
tools/venv/

# ros related files/directories
ros/devel/
ros/build/
cmake-build-debug

# Poetry related
.venv/

# tox
.tox

# documentation related
doc/build/
doc/source/modules

# VSCode
.devcontainer

# Jupyter Notebook
.ipynb_checkpoints/
/examples/dump/*

# DB
test/test_v4/
test/test_v3.db
test/test_v3_env.db
test/test_v4.json

# Built packages
/dist/
